body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

 

}


section {

    height: 400px;
    padding-bottom: 100px;
    
}

h1 {
    font-family: 'Oswald', sans-serif;

    font-size: 50px;

}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;

}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.top-header-background-img {

    background-image: url(img/header-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.top-header-background-img img{

    height: 100%;
}

img{

    width: 350px;
    height: 500px;
    

    
}

.half-width {

    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;

    
}

.name-color{

    color:#F51678;
    font-weight: bold;
}



.button-link{

    text-decoration: none;
    background-image: linear-gradient(45deg, #F51678, #F51678 );
    padding: 10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: bolder;
}



.biography{
    background-image: url(img/biography-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.biography img{
    width: 100%;
}
.latest-work-backgrown-img{
    background-image: url(img/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.latest-work-backgrown-img img{
    width: 100%;
}
.latest-work{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.working-website-portfolio img{
    
    width: 250px;
    height: 250px;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}


.admin-address{
    font-weight: 900;
    text-align: center;
    font-size: 40px;
}

.admin-address h2 {
    font-weight: 800;
}

.ceo{
    text-align: center;
    font-weight: bold;
}

.ceo h3{
    font-size: 30px;
    


}

.ceo p{
    color: #434242;
}

.content{

    width: auto;
    text-align: center;
    color: white;
    box-shadow: 10px 10px 40px;
    border-radius: 5px;
    height: 25%;
    margin-left: 300px;
    margin-right: 300px;
    background-color:#F51678 ;
    padding: 20px 10px;
   
}

.client-area{
    
    background-image: url(img/footer-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.client-area img{
    width: 100%;
}
.footer-bar{

    color:black;   
    text-align: center; 
}

.email {
    font-size: 20px;
    font-weight: 700;
}